<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    title Rent a Phone Number | Jae Phone
  body
    if !confirmed && !error
      p=`You are about to buy the phone number: ${phoneNumber} from ${countryName.name} ${countryName.flag}`
      p=`The price of this phone is $${price} per month`
      a(href="?confirmed=true") Confirm?
    if error
      spand=error